@tailwind base;
@tailwind components;
@tailwind utilities;

.bulk-order-input-box-container .dx-dropdowneditor-icon:not(.dx-datebox .dx-dropdowneditor-icon) {
    background-image: url('/images/vector_close.svg');
    background-color: #ffffff !important;
}

.bulk-order-input-box-container .dx-dropdowneditor-icon::before {
    content: unset;
}

.bulk-order-input-box-container .dx-datebox .dx-dropdowneditor-icon  {
    color: #116a5b;
}

.bulk-order-input-box-container .dx-texteditor:hover ,
.bulk-order-input-box-container .dx-texteditor:focus ,
.bulk-order-input-box-container .dx-texteditor.dx-state-focused.dx-editor-outlined,
.bulk-order-input-box-container .dx-radiobutton-icon:hover, 
.bulk-order-input-box-container .dx-radiobutton.dx-state-focused .dx-radiobutton-icon,
.bulk-order-input-box-container .dx-radiobutton-icon.dx-radiobutton-icon-checked {
    border-color: #116a5b !important;
}

.bulk-order-input-box-container .dx-checkbox:hover, 
.bulk-order-input-box-container .dx-checkbox:focus {
    border: 2px solid #116a5b !important;
    border-radius: 4px;
}

.bulk-order-input-box-container .dx-checkbox-icon {
    color: #116a5b !important;
    font-weight: 900 !important;
}

.dx-numberbox .dx-numberbox-spin-up-icon, .dx-numberbox .dx-numberbox-spin-down-icon, .dx-dropdowneditor-icon {
    background-color: #ffffff !important;
}


.bulk-order-input-box-container .dx-radiobutton-icon-checked .dx-radiobutton-icon-dot {
    background-color: #116a5b !important;
}

.bulk-order-input-box-container .dx-item-content {
    color: #000;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
}

.no-spin-buttons::-webkit-inner-spin-button,
.no-spin-buttons::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.rectangle .dx-radiobutton {
    margin: 12px 16px !important;
}

.rectangle .dx-radiobutton-icon {
    border-radius: 50% !important;
    width: 18px;
    height: 18px;
    border-color: #aaaaaa !important;
}

.rectangle .dx-radiobutton.dx-state-hover .dx-radiobutton-icon {
    border-color: #116a5b;
}

.rectangle .dx-radiobutton-icon-dot {
    border-width: 3px;
    border-radius: 50% !important;
}

.rectangle .dx-radiobutton-icon-checked .dx-radiobutton-icon-dot {
    background-color: #116a5b;
    border-width: 3px;
}

.rectangle .dx-radiobutton-icon.dx-radiobutton-icon-checked {
    border-color: #116a5b;
}

.rectangle .dx-item.dx-radiobutton .dx-item-content {
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: #000000;
}

.card {
    /* Add your custom styles here */
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    padding: 0.75rem 1rem;
}

.card-title {
    font-size: 24px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
    text-transform: uppercase;
}

.card-subtitle {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 0.25rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ccc;
    padding: 0.75rem 1rem;
}

.custom-data-grid .dx-datagrid .dx-datagrid-pager {
    border-top: none;
}

.dx-overlay-shader {
    background-color: rgba(0,0,0,0.5) !important;
}

.shop-user-info-edit-container .dx-texteditor-input {
    font-size: 12px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 3px 9px 8px !important;
}

:is(.shop-create-form, .shop-user-create-form, .item-type-create-form) .dx-texteditor-input {
    padding: 3px 9px 8px !important;
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    border: 1px solid #D9D9D9 !important;
    border-radius: 2px;
    width: 100%;
    height: 32px;
    margin-top: 5px;
}

.form-input :last-of-type {
    margin-bottom: 0;
}

.dx-datagrid .dx-column-lines > td:last-child {
    border-left: none;
}
